<html>
  <head>
  </head>
  <body>
    <form name="user_delete" action="/user_delete" method='POST'>
      <table>
        <tbody>
          <tr>
            <td>id</td>
            <td>{{users[0]['name']}}
          </tr>
          <tr>
            <td>password</td>
            <td><input type="password" name="user_pw" ></td>
          </tr>
          <tr>
            <td><input type="submit"  value="회원탈퇴"></td>
          </tr>
    </form>
        </tbody>
        </table>
        </body>
</html>

